div {
  margin-bottom: 30px;
  font-family: Arial;
}

p {
  margin: 0px;
}

/** Exercise 7a **/

.ex7a {
  width: 200px;
  border-radius: 20px;

}

/** Exercise 7b **/

.ex7b {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/** Exercise 7c **/

.ex7c {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

/** Exercise 7e **/

.search-bar {
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  font-size: 14px;
}

.google-search {
  font-size: 14px;
  padding: 10px;
  border-radius: 30px;
  width: 400px;
  padding-left: 10px;
  padding-right: 20px;
  border: none;
  box-shadow: 0 3px 6px rgb(163, 163, 163);
}

/** Exercise 7f **/

.email-7f {
  color: grey;
  margin-top: 15px;
  font-size: 13px;
}

.searchbox-7f {
  margin-top: 7px;
  font-size: 17px;
  width: 360px;
  border-color: grey;
  border-style: solid;
  border-radius: 4px;
}

.privacy-policy {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 20px;
  color: grey;
}

.join-button {
  background-color: blue;
  color: white;
  border: none;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}
.join-button:hover {
  opacity: 75%;
}

/** Exercise 7g **/

.ex7g-code {
  margin-top: 10px;
}

.pfp {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 40px;
}

.text-box {
  vertical-align: middle;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 20px;
  border: none;
  padding: 5px;
  border-radius: 30px;
  width: 300px;
}

.tweet-button {
  background-color: rgb(68, 108, 218);
  vertical-align: middle;
  color: white;
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
}


