div {
  margin-top: 40px;
  margin-bottom: 10px;
}
.uber {
  background-color: black;
  color: white;
  height: 40px;
  width: 126px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.uber:hover {
  opacity: 80%;
}

.amazon {
  background-color: rgb(255, 216, 20);
  color: rgb(0, 0, 0);
  height: 28px;
  width: 140px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s;
  
}

.amazon:hover {
  background-color: rgb(218, 183, 9);
}
.amazon:active {
  opacity: 60%;
}

.github {
  background-color: rgb(46, 164, 79);
  color: rgb(255, 255, 255);
  height: 40px;
  width: 90px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.github:hover {
  box-shadow: 0px 3px 10px rgb(165, 166, 163);
}
.github:active {
  opacity: 60%;
}

.bootstrap-1 {
  background-color: rgb(121, 82, 179);
  color: white;
  height: 38px;
  width: 110px;
  border-width: 2px;
  border-color: rgb(121, 82, 179);
  border-radius: 4px;
  font-weight: bold; 
  margin-right: 7px;
  cursor: pointer;
  transition: background-color 0.2s, 
  color 0.2s,
  border-color 0.2s,
  border-width 0.2s;
}

.bootstrap-1:hover {
  background-color: white;
  color: rgb(121, 82, 179);
  border-width: 2px;
  border-color: rgb(121, 82, 179);
}

.bootstrap-1:active {
  opacity: 70%;
}

.bootstrap-2 {
  background-color: rgb(255, 255, 255);
  color: rgb(108, 117, 125);
  height: 38px;
  width: 110px;
  border-color: rgb(108, 117, 125);
  border-width: 1px;
  border-radius: 4px;
  font-weight: bold; 
  margin-right: 7px;
  cursor: pointer;
  transition: color, background-color 0.15s;
}

.bootstrap-2:hover {
  color: white;
  background-color: rgb(108, 117, 125);
}

.linkedin-1 {
  background-color: rgb(0, 0, 176);
  color: white;
  font-weight: bold;
  height: 36px;
  width: 230px;
  border-radius: 20px;
  border-width: 0px;
  cursor: pointer;
  transition: background-color 0.15s;
  margin-right: 10px;
}

.linkedin-1:hover {
  background-color: rgb(2, 2, 144);
}

.linkedin-2 {
  color: rgb(0, 0, 176);
  border-color: rgb(0, 0, 176);
  background-color: white;
  border-radius: 2px;
  height: 36px;
  width: 60px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.linkedin-2:hover {
  background-color: rgb(221, 224, 255);
  border-width: 3px;
}


.amazon-link {
  color: rgb(0, 113, 133);
  transition: color 0.15s;
}

.amazon-link:hover {
  color: red;
}

.shoes-title {
  font-weight: bold;
  font-size: 30px;
}

.price {
  color: rgb(0, 118, 0);
  font-weight: bold;
}


.add-to-cart {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 20px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: rgb(223, 188, 12);
}

.buy-now {
  background-color: rgb(255, 164, 28);
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 20px;
  cursor: pointer;
}

.buy-now:hover {
  background-color: rgb(215, 136, 16);
  
}
